/* Navbar et logo */


.navbar {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  text-align: center;
  margin-top: 20px;
  font-family: fantasy;

}

.btn{
  color:rgb(255, 255, 255);
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}
.btn4{
  color:rgb(0, 0, 0);
  background:rgb(255, 255, 255);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  border-radius: 15px;
  
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}



  /* ////////////// body ///////////// */
 
body{
  background: url(./img/pawel-nolbert-wE_Dk2Kd3GQ-unsplash.jpg);
  background-size: cover;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1{
  margin-top: 200px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: fantasy;
  font-size: 100px;
}

h2 {
  margin-top: 10px;
  font-family: fantasy;
  color: white;
}

.Header {
  margin-top: 50px;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 0px;
  background: transparent;
  width: 100%;
  text-align: center;
  display: grid;
  padding-top: 100px;
  padding-bottom: 150px;
}

.Block {
  margin-top: 0px;
  border-radius: 13px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: -50px;
  background: rgba(0, 0, 0, 0.25);
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  color: rgb(255, 255, 255);
  margin-top: 150px;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: transparent;
  width: 100%;
  border-style: solid;
  border-color: transparent;
  border-radius: 13px;
  }

  .Seo {
    border-style: solid;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.25);
    margin-right: 30px;
  }

  .Campaign {
    border-style: solid;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.25);
    margin-left: 30px;
  }

  .Studio {
    border-style: solid;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.25);
    margin-right: 30px;
  }

  .Website {
    border-style: solid;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.25);
    margin-left: 30px;
  }

  ul {
    style: none;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 10px;
    cursor: pointer;
    }

    ul:hover {
      color: #6846ff;
    }

  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    color: transparent;
    margin-top: 100px;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 50px;
    margin-bottom: 0px;
    background: #000;
    width: 100%;
    border-style: solid;
    border-width: 15px
    
  }

 .newsletterInput {
   border-style: solid;
   border-radius: 15px;
 }
  
