/* Navbar et logo */


.navbar {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  text-align: center;
  margin-top: 20px;

}

.btn{
  color:rgb(255, 255, 255);
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}
.btn4{
  color:rgb(0, 0, 0);
  background:rgb(255, 255, 255);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  border-radius: 15px;
  
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}

/* ////////////// bloc d'en-tête ///////////// */

.mainTittle {
    color: white;
    transform: translateY(350%);
    margin-left: 200px;
    position: absolute;
}
  h1 {
      padding: 0px;
      margin: 0;
      font-size: 50px;
  }
  h2 {
      padding: 0px;
      margin: 0;
      font-size: 20px;
  }


  /* ////////////// body ///////////// */
 
  body{
    background: url(https://images.unsplash.com/photo-1512551980832-13df02babc9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80);
    font-family: 'Oswald', sans-serif;
  }